# Minimal original-PinePhone session.  wvkbd reserves the lower screen region.
set $root /usr/local/share/emacsos-openrc
set $power $root/session-power

xwayland disable
swaybg_command /bin/true
default_border none
default_floating_border none
focus_follows_mouse no
mouse_warping none
workspace_layout tabbed

output DSI-1 mode 720x1440@60Hz scale 2
input type:touch map_to_output DSI-1
seat * hide_cursor 1000

bindsym XF86PowerOff exec $power press
bindsym Mod1+Tab focus next

for_window [app_id="emacs"] fullscreen enable
for_window [app_id="firefox"] focus
